<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Masini</key>
	<string>\ue600</string>
	<key>Utilaje</key>
	<string>\ue601</string>
	<key>Remorci_Bis</key>
	<string>\ue602</string>
	<key>Utilitare</key>
	<string>\ue603</string>
	<key>Motociclete</key>
	<string>\ue604</string>
	<key>ATV</key>
	<string>\ue605</string>
	<key>Scuter</key>
	<string>\ue606</string>
	<key>Piese_Auto</key>
	<string>\ue607</string>
	<key>Accesorii_Auto</key>
	<string>\ue608</string>
	<key>Car_audio_bis</key>
	<string>\ue60a</string>
	<key>Dezmembrari</key>
	<string>\ue60b</string>
	<key>Piese_moto</key>
	<string>\ue60c</string>
	<key>Toate_auto_bis</key>
	<string>\ue60d</string>
	<key>Toate_moto</key>
	<string>\ue60e</string>
	<key>Toate_piese_auto_1_bis</key>
	<string>\ue60f</string>
	<key>Jante_si_anvelope_bis</key>
	<string>\ue609</string>
	<key>Toate_piese_auto_2</key>
	<string>\ue610</string>
	<key>Toate</key>
	<string>\ue611</string>
	<key>Judete</key>
	<string>\ue612</string>
	<key>Star_Full</key>
	<string>\ue613</string>
	<key>Star_Half</key>
	<string>\ue614</string>
	<key>Star_Empty</key>
	<string>\ue615</string>
	<key>Adauga_Anunt</key>
	<string>\ue616</string>
	<key>User</key>
	<string>\ue617</string>
	<key>Marci</key>
	<string>\ue618</string>
	<key>Promovare_off</key>
	<string>\ue619</string>
	<key>Promovare_on</key>
	<string>\ue61a</string>
	<key>Logo_Bazar</key>
	<string>\ue61b</string>
	<key>Logo_Bazar_Simplu</key>
	<string>\ue61c</string>
	<key>Bicicleta</key>
	<string>\ue61f</string>
	<key>search</key>
	<string>\uf002</string>
	<key>envelope-o</key>
	<string>\uf003</string>
	<key>heart</key>
	<string>\uf004</string>
	<key>star</key>
	<string>\uf005</string>
	<key>star-o</key>
	<string>\uf006</string>
	<key>user</key>
	<string>\uf007</string>
	<key>th-large</key>
	<string>\uf009</string>
	<key>th</key>
	<string>\uf00a</string>
	<key>th-list</key>
	<string>\uf00b</string>
	<key>check</key>
	<string>\uf00c</string>
	<key>close</key>
	<string>\uf00d</string>
	<key>search-plus</key>
	<string>\uf00e</string>
	<key>search-minus</key>
	<string>\uf010</string>
	<key>power-off</key>
	<string>\uf011</string>
	<key>cog</key>
	<string>\uf013</string>
	<key>trash-o</key>
	<string>\uf014</string>
	<key>home</key>
	<string>\uf015</string>
	<key>file-o</key>
	<string>\uf016</string>
	<key>clock-o</key>
	<string>\uf017</string>
	<key>arrow-circle-o-down</key>
	<string>\uf01a</string>
	<key>arrow-circle-o-up</key>
	<string>\uf01b</string>
	<key>repeat</key>
	<string>\uf01e</string>
	<key>refresh</key>
	<string>\uf021</string>
	<key>lock</key>
	<string>\uf023</string>
	<key>flag</key>
	<string>\uf024</string>
	<key>tag</key>
	<string>\uf02b</string>
	<key>camera</key>
	<string>\uf030</string>
	<key>video-camera</key>
	<string>\uf03d</string>
	<key>pencil</key>
	<string>\uf040</string>
	<key>map-marker</key>
	<string>\uf041</string>
	<key>edit</key>
	<string>\uf044</string>
	<key>chevron-left</key>
	<string>\uf053</string>
	<key>chevron-right</key>
	<string>\uf054</string>
	<key>plus-circle</key>
	<string>\uf055</string>
	<key>minus-circle</key>
	<string>\uf056</string>
	<key>times-circle</key>
	<string>\uf057</string>
	<key>check-circle</key>
	<string>\uf058</string>
	<key>question-circle</key>
	<string>\uf059</string>
	<key>info-circle</key>
	<string>\uf05a</string>
	<key>crosshairs</key>
	<string>\uf05b</string>
	<key>times-circle-o</key>
	<string>\uf05c</string>
	<key>check-circle-o</key>
	<string>\uf05d</string>
	<key>ban</key>
	<string>\uf05e</string>
	<key>arrow-left</key>
	<string>\uf060</string>
	<key>arrow-right</key>
	<string>\uf061</string>
	<key>arrow-up</key>
	<string>\uf062</string>
	<key>arrow-down</key>
	<string>\uf063</string>
	<key>exclamation-circle</key>
	<string>\uf06a</string>
	<key>eye</key>
	<string>\uf06e</string>
	<key>exclamation-triangle</key>
	<string>\uf071</string>
	<key>comment</key>
	<string>\uf075</string>
	<key>chevron-up</key>
	<string>\uf077</string>
	<key>chevron-down</key>
	<string>\uf078</string>
	<key>shopping-cart</key>
	<string>\uf07a</string>
	<key>folder</key>
	<string>\uf07b</string>
	<key>folder-open</key>
	<string>\uf07c</string>
	<key>bar-chart</key>
	<string>\uf080</string>
	<key>facebook-square</key>
	<string>\uf082</string>
	<key>camera-retro</key>
	<string>\uf083</string>
	<key>key</key>
	<string>\uf084</string>
	<key>comments</key>
	<string>\uf086</string>
	<key>star-half</key>
	<string>\uf089</string>
	<key>heart-o</key>
	<string>\uf08a</string>
	<key>sign-out</key>
	<string>\uf08b</string>
	<key>sign-in</key>
	<string>\uf090</string>
	<key>trophy</key>
	<string>\uf091</string>
	<key>phone</key>
	<string>\uf095</string>
	<key>square-o</key>
	<string>\uf096</string>
	<key>phone-square</key>
	<string>\uf098</string>
	<key>unlock</key>
	<string>\uf09c</string>
	<key>credit-card</key>
	<string>\uf09d</string>
	<key>bell-o</key>
	<string>\uf0a2</string>
	<key>certificate</key>
	<string>\uf0a3</string>
	<key>arrow-circle-left</key>
	<string>\uf0a8</string>
	<key>arrow-circle-right</key>
	<string>\uf0a9</string>
	<key>arrow-circle-up</key>
	<string>\uf0aa</string>
	<key>arrow-circle-down</key>
	<string>\uf0ab</string>
	<key>globe</key>
	<string>\uf0ac</string>
	<key>wrench</key>
	<string>\uf0ad</string>
	<key>filter</key>
	<string>\uf0b0</string>
	<key>briefcase</key>
	<string>\uf0b1</string>
	<key>group</key>
	<string>\uf0c0</string>
	<key>paperclip</key>
	<string>\uf0c6</string>
	<key>square</key>
	<string>\uf0c8</string>
	<key>bars</key>
	<string>\uf0c9</string>
	<key>list-ul</key>
	<string>\uf0ca</string>
	<key>google-plus-square</key>
	<string>\uf0d4</string>
	<key>money</key>
	<string>\uf0d6</string>
	<key>caret-down</key>
	<string>\uf0d7</string>
	<key>caret-up</key>
	<string>\uf0d8</string>
	<key>caret-left</key>
	<string>\uf0d9</string>
	<key>caret-right</key>
	<string>\uf0da</string>
	<key>envelope</key>
	<string>\uf0e0</string>
	<key>rotate-left</key>
	<string>\uf0e2</string>
	<key>file-text-o</key>
	<string>\uf0f6</string>
	<key>medkit</key>
	<string>\uf0fa</string>
	<key>plus-square</key>
	<string>\uf0fe</string>
	<key>angle-double-left</key>
	<string>\uf100</string>
	<key>angle-double-right</key>
	<string>\uf101</string>
	<key>angle-double-up</key>
	<string>\uf102</string>
	<key>angle-double-down</key>
	<string>\uf103</string>
	<key>angle-left</key>
	<string>\uf104</string>
	<key>angle-right</key>
	<string>\uf105</string>
	<key>angle-up</key>
	<string>\uf106</string>
	<key>angle-down</key>
	<string>\uf107</string>
	<key>circle-o</key>
	<string>\uf10c</string>
	<key>spinner</key>
	<string>\uf110</string>
	<key>circle</key>
	<string>\uf111</string>
	<key>folder-o</key>
	<string>\uf114</string>
	<key>folder-open-o</key>
	<string>\uf115</string>
	<key>flag-o</key>
	<string>\uf11d</string>
	<key>star-half-empty</key>
	<string>\uf123</string>
	<key>location-arrow</key>
	<string>\uf124</string>
	<key>calendar-o</key>
	<string>\uf133</string>
	<key>chevron-circle-left</key>
	<string>\uf137</string>
	<key>chevron-circle-right</key>
	<string>\uf138</string>
	<key>chevron-circle-up</key>
	<string>\uf139</string>
	<key>chevron-circle-down</key>
	<string>\uf13a</string>
	<key>minus-square</key>
	<string>\uf146</string>
	<key>minus-square-o</key>
	<string>\uf147</string>
	<key>check-square</key>
	<string>\uf14a</string>
	<key>pencil-square</key>
	<string>\uf14b</string>
	<key>file</key>
	<string>\uf15b</string>
	<key>file-text</key>
	<string>\uf15c</string>
	<key>youtube-play</key>
	<string>\uf16a</string>
	<key>arrow-circle-o-right</key>
	<string>\uf18e</string>
	<key>arrow-circle-o-left</key>
	<string>\uf190</string>
	<key>dot-circle-o</key>
	<string>\uf192</string>
	<key>plus-square-o</key>
	<string>\uf196</string>
	<key>cubes</key>
	<string>\uf1b3</string>
	<key>recycle</key>
	<string>\uf1b8</string>
	<key>automobile</key>
	<string>\uf1b9</string>
	<key>life-bouy</key>
	<string>\uf1cd</string>
	<key>paper-plane</key>
	<string>\uf1d8</string>
	<key>circle-thin</key>
	<string>\uf1db</string>
	<key>share-alt</key>
	<string>\uf1e0</string>
	<key>newspaper-o</key>
	<string>\uf1ea</string>
	<key>trash</key>
	<string>\uf1f8</string>
	<key>Chat_Online</key>
	<string>\ue61d</string>
	<key>Chat_Offline</key>
	<string>\ue61e</string>
	<key>Chat</key>
	<string>\ue620</string>
</dict>
</plist>
